{% extends "layout.html" %}
{% load static %}

{% block title %}
Contact
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container my-3">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/back3.PNG' %}" class="logo" alt="logo" height="40" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
            <ul class="navbar-nav mb-lg-0 mx-auto">
                <li class="nav-item mx-4">
                    <a class="nav-link ms-3" aria-current="page" href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link ms-3" href="/about">About</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link active ms-3" href="/contact">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mx-4">
                    <a class="nav-link ms-3" href="{% url 'library' %}">Library</a>
                </li>
                {% else %}
                <li class="nav-item mx-4">
                    <a class="nav-link ms-3" href="{% url 'login' %}">Library</a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <form method="post" class="mx-2" action="{% url 'logged_out' %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger">Logout
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                        <path d="M9 12h12l-3 -3" />
                        <path d="M18 15l3 -3" />
                    </svg>
                </button>
            </form>
            {% else %}
            <a href="{% url 'register' %}" class="btn btn-outline-light mx-2">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn-outline-primary mx-2">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block contant %}
<div class="container d-flex row mx-auto mt-5">
    <div class="gtdiv mb-3">
        <h1 class="">Get in Touch</h1>
        <h5 class="fw-light mt-3">Have a question about LibMasy? Send us a message and we'll respond soon.</h5>
        <h5 class="fw-light mt-4">We are available for questions, feedback, or collaboration opportunities. Let us know
            how we can help!
            You can also contact us at <a href="mailto:gadginavinp@gmail.com"
                class="links"><u>gadginavin@gmail.com</u></a> for any queries.</h5>
        <h5 class="fw-light mt-4">You can also connect on social media.</h5>

        <div class="social-links mt-4">
            <div id="twitter" class="social-btn flex-center">
                <a href="https://x.com/NavinGadgi"><img src="{% static 'images\x2.png' %}" height="24" width="24"
                        alt="x"></a><span><a href="https://x.com/NavinGadgi" class="links">X</a></span>
            </div>

            <div id="linkedin" class="social-btn flex-center"><a href="https://www.linkedin.com/in/navin-gadgi/">
                    <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 
                        4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z">
                        </path>
                    </svg></a><span><a href="https://www.linkedin.com/in/navin-gadgi/" class="links">Linkedin</a></span>
            </div>

            <div id="github" class="social-btn flex-center"> <a href="https://github.com/Navin-Gadgi">
                    <svg viewBox="0 0 24 24" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 
                            1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 
                            1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 
                            5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
                        </path>
                    </svg></a><span><a href="https://github.com/Navin-Gadgi" class="links">GitHub</a></span>
            </div>
        </div>
    </div>

    <div class="contactform ms-auto">
        <form>
            <div class="mb-3">
                <label class="lab">Name</label>
                <input class="in" type="text" placeholder="Your Name">
            </div>

            <div class="mb-3">
                <label class="lab">Email</label>
                <input class="in" type="email" placeholder="Email">
            </div>

            <div class="mb-3">
                <label class="lab">Phone Number</label>
                <input class="in" type="tel" placeholder="Your 10-digit Indian Number">
            </div>

            <div class="mb-3">
                <label class="lab">Subject</label>
                <input class="in" type="text" placeholder="Subject">
            </div>

            <div class="mb-3">
                <label class="lab">Message</label>
                <textarea class="in" placeholder="Type your message here."></textarea>
            </div>
            <button class="conbut" type="submit">Send Message</button>
        </form>
    </div>
</div>

{% endblock %}