{% extends "layout.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}




{% block contant %}
<div class="parent">
    <div class="text-center">

        <h1 class="homeheader">Welcome to The LibMaSy 🤖</h1>
        
        <p class="subtitle">
            A Smart Library Management System
        </p>
        
        {% if user.is_authenticated %}
        <a href="{% url 'library' %}" class="homebut btn mt-3" type="submit">Let's Start</a>
        {% else %}
        <a href="{% url 'login' %}" class="homebut btn mt-3" type="submit">Let's Start</a>
        {% endif %}
    </div>
</div>
    {% endblock %}