{% extends 'layout2.html' %}
{% load static %}

{% block title %}

{% if old_name %}
  Update Library
{% else %}
  Create Library
{% endif %}

{% endblock %}

{% block navbar %}
{% endblock %}

{% block contant %}
<div class="parent2">
  <div class="form text-center gap-5">
    {% if not old_name %}
    <h1 class="mb-5">Create Library</h1>
    {% else %}
    <h1 class="mb-5">Update Library</h1>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {% if not old_name %}
        <input type="text" class="in mb-4" name="library_name" placeholder="Enter Library Name" required>
        <input type="text" class="in mb-4" name="lib_address" placeholder="Enter Library Address or Branch">
      {% else %}
        <input type="text" class="in mb-4" name="library_name" value="{{ old_name }}" placeholder="Enter New Library Name" required>
        <input type="text" class="in mb-4" name="lib_address" value="{{ old_address }}" placeholder="Enter New Address or Branch">
      {% endif %}
      <a href="{% url 'library' %}" class="btn btn-outline-danger mt-4 mx-2">Cancel</a>
      {% if not old_name %}
        <button class="btn btn-outline-success mt-4 mx-2" type="submit">Create</button>
      {% else %}
        <button class="btn btn-outline-success mt-4 mx-2" type="submit">Update</button>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}