{% extends "layout.html" %}
{% load static %}

{% block title %}
Contact
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container my-3">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/back3.PNG' %}" class="logo" alt="logo" height="40" width="100">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-0 mx-auto">
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-5" aria-current="page" href="{% url 'home' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-5" href="/about">About</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link active ms-5" href="/contact">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-5" href="{% url 'library' %}">Library</a>
                    </li>
                    {% else %}
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-5" href="{% url 'login' %}">Library</a>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <form method="post" class="mx-2" action="{% url 'logged_out' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger">Logout
                            <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" 
                            height="24" 
                            viewBox="0 0 24 24" 
                            fill="none" 
                            stroke="currentColor" 
                            stroke-width="2" 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M9 12h12l-3 -3" />
                            <path d="M18 15l3 -3" /></svg>
                        </button>
                    </form>
                {% else %}
                    <form method="post" class="mx-2" action="{% url 'register' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary">Sign Up</button>
                    </form>
                    <form method="post" class="mx-2" action="{% url 'login' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-success">Login</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block contant %}
<div class="form">
    <form>
        <div class="mb-3">
            <label class="lab">Name</label>
            <input class="in" type="text" placeholder="Your Name">
        </div>

        <div class="mb-3">
            <label class="lab">Email</label>
            <input class="in" type="email" placeholder="Email">
        </div>

        <div class="mb-3">
            <label class="lab">Phone Number</label>
            <input class="in" type="tel" placeholder="Your 10-digit Indian Number">
        </div>

        <div class="mb-3">
            <label class="lab">Subject</label>
            <input class="in" type="text" placeholder="Subject">
        </div>

        <div class="mb-3">
            <label class="lab">Message</label>
            <textarea class="in" placeholder="Type your message here."></textarea>
        </div>

        <button class="conbut" type="submit">Send Message</button>
    </form>
</div>
{% endblock %}