{% extends "layout.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container my-3">
        <a class="navbar-brand" href=""><img class="logo" src="../../static/images/back3.PNG" alt="logo" height="40"
                width="100"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 mx-auto">
                <li class="nav-item mx-4">
                    <a class="nav-link active ms-5" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link ms-5" href="/about">About</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link ms-5" href="/contact">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mx-4">
                    <a class="nav-link ms-5" href="{% url 'library' %}">Library</a>
                </li>
                {% else %}
                <li class="nav-item mx-4">
                    <a class="nav-link ms-5" href="{% url 'login' %}">Library</a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <form method="post" class="mx-2" action="{% url 'logged_out' %}">
                {% csrf_token %}
                    <button class="btn btn-outline-danger">Logout
                        <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" 
                            height="24" 
                            viewBox="0 0 24 24" 
                            fill="none" 
                            stroke="currentColor" 
                            stroke-width="2" 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M9 12h12l-3 -3" />
                            <path d="M18 15l3 -3" /></svg>
                    </button>
                </button>
            </form>
            {% else %}
            <form method="post" class="mx-2" action="{% url 'register' %}">
                {% csrf_token %}
                <button class="btn btn-outline-primary">Sign Up</button>
            </form>
            <form method="post" class="mx-2" action="{% url 'login' %}">
                {% csrf_token %}
                <button class="btn btn-outline-success">Login</button>
            </form>
            {% endif %}

        </div>
    </div>
</nav>
{% endblock %}


{% block contant %}
<div class="parent">
    <div class="text-center">

        <h1 class="homeheader mb-2">Welcome to The LibMaSy 🤖</h1>
        
        <p class="subtitle mt-2">
            You can
            <span id="typing-effect"></span>
        </p>
        
        {% if user.is_authenticated %}
        <a href="{% url 'library' %}" class="homebut btn mt-2" type="submit">Let's Start</a>
        {% else %}
        <a href="{% url 'login' %}" class="homebut btn mt-2" type="submit">Let's Start</a>
        {% endif %}
    </div>
</div>
    <script>
        const typingElement = document.getElementById('typing-effect');

        const words = [
            "Create Book",
            "Issue Book",
            "Update Records",
            "Delete Records",
        ];

        let wordIndex = 0;
        let charIndex = 0;
        let isDeleting = false;

        const typingSpeed = 50;
        const deletingSpeed = 50;
        const newWordDelay = 1200;

        function typeDeleteLoop() {
            const currentWord = words[wordIndex];

            if (isDeleting) {

                typingElement.textContent = currentWord.substring(0, charIndex - 1);
                charIndex--;

                if (charIndex === 0) {
                    isDeleting = false;
                    wordIndex++;
                    if (wordIndex === words.length) {
                        wordIndex = 0;
                    }
                    setTimeout(typeDeleteLoop, newWordDelay);
                } else {
                    setTimeout(typeDeleteLoop, deletingSpeed);
                }

            } else {

                typingElement.textContent = currentWord.substring(0, charIndex + 1);
                charIndex++;

                if (charIndex === currentWord.length) {
                    isDeleting = true;
                    setTimeout(typeDeleteLoop, newWordDelay);
                } else {
                    setTimeout(typeDeleteLoop, typingSpeed);
                }
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            setTimeout(typeDeleteLoop, newWordDelay);
        });
    </script>
    {% endblock %}