{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}
{% block navbar %}

{% endblock %}

{% block contant %}
<div class="parent2">
    <div class="form text-center">
        <h1 class="mb-5">Login</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <h5 class="mt-4">Don't Have an account? <a href="{% url 'register' %}">Sign Up</a></h5>
            <a href="{% url 'home' %}" class="btn btn-outline-danger mt-3 mx-2">Cancel</a>
            <button class="btn btn-outline-primary mt-3 mx-2">Login</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}