{% extends 'layout2.html' %}
{% load static %}

{% block title %}
  Create Library
{% endblock %}

{% block navbar %}
{% endblock %}

{% block contant %}
<div class="parent">
  <div class="form text-center gap-5">
    <h1 class="mb-5">Library Creation</h1>
    <form method="post">
      {% csrf_token %}
      <input type="text" class="in mb-4" name="library_name" placeholder="Enter Library Name" required>
      <a href="{% url 'library' %}" class="btn btn-outline-danger mt-4 mx-2">Cancel</a>
      <button class="btn btn-outline-success mt-4 mx-2" type="submit">Create</button>
    </form>
  </div>
</div>
{% endblock %}