{% extends 'layout2.html' %}
{% load static %}

{% block title %}
  Update Library
{% endblock %}

{% block navbar %}
{% endblock %}

{% block contant %}
<div class="parent">
  <div class="form text-center gap-5">
    <h1 class="mb-5">Update Library</h1>
    <form method="post">
      {% csrf_token %}
      <input type="text" class="in mb-4" name="library_name" value="{{ old_name }}" placeholder="Enter New Library Name" required>
      <input type="text" class="in mb-4" name="lib_address" value="{{ old_address }}" placeholder="Enter New Address or Branch">
      <a href="{% url 'library' %}" class="btn btn-outline-danger mt-4 mx-2">Cancel</a>
      <button class="btn btn-outline-success mt-4 mx-2" type="submit">Update</button>
    </form>
  </div>
</div>
{% endblock %}