{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#AFA0A0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        tamplate page
        {% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- bootstrap css  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">

    <!-- css style file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- bootstrap js -->
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body class="min-vh-100">


    {% block navbar %}
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark" id="nav">
        <div class="container my-3">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/back3.PNG' %}" class="logo" alt="logo" height="40" width="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-0 mb-2 mx-auto">
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-3" aria-current="page" href="{% url 'home' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-3" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-3" href="{% url 'contact' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-3 active" href="{% url 'library' %}">Library</a>
                    </li>
                    {% else %}
                    <li class="nav-item mx-4">
                        <a class="nav-link ms-3 active" href="{% url 'login' %}">Library</a>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <form method="post" class="mx-2" action="{% url 'logged_out' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger">Logout
                        <svg 
                            xmlns="http://www.w3.org/2000/svg"
                            width="24" 
                            height="24" 
                            viewBox="0 0 24 24" 
                            fill="none" 
                            stroke="currentColor" 
                            stroke-width="2" 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M9 12h12l-3 -3" />
                            <path d="M18 15l3 -3" /></svg>
                    </button>
                </form>
                {% else %}
                <form method="post" class="mx-2" action="{% url 'register' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary">Sign Up</button>
                </form>

                <form method="post" class="mx-2" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success">Login</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block contant %}

    {% endblock %}

    {% block footer %}
    <footer class="position-sticky top-100">
        <hr>
        <p class="text-center foot">
            © 2026 LibMasy | Library Management System Developed by Navin Gadgi | Connect on:
            <a href="https://www.linkedin.com/in/navin-gadgi/"><img class="mx-1" src="{% static 'images/linkedin.png' %}" alt="linkedIn" width="20px" height="20px"></a>
            <a href="https://github.com/Navin-Gadgi"><img class="mx-1" src="{% static 'images/github-sign.png' %}" alt="linkedIn" width="20px" height="20px"></a>
        </p>        
    </footer>
    {% endblock %}
</body>

</html>